#cameraGuardaRoupa{
    width: 300px;
    height:60px;
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
}


.divCameraGuardaRoupa{
    width: 50px;
    height:50px;
    background-image: linear-gradient(90deg, );
    margin-right: 5px;
    margin-top: 5px;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgba(35, 35, 35, 0.71) 90.41%);
    float: left;
    color: #fff;
    display: flex;
    align-items: center;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(54.76deg, #E9C135 5.23%, #E9354F 5.24%, rgba(233, 53, 79, 0) 127.36%);
    justify-content:center;
    font-size: 20px;
}



#rotacaoGuardaRoupa{
    width: 300px;
    height:60px;
    position:absolute;
    left: 0;
    right: 0;
    top: 70px;
    margin: auto;
}

#rotacaoGuardaRoupa h1{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

#slideGuardaRoupa{
    width: 265px;
    height: 25px;
    float: left;
    display: flex;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgba(35, 35, 35, 0.71) 90.41%);
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(-93.57deg, #E9354F 2.99%, rgba(0, 0, 0, 0) 97.15%);
  
    
    
}

.slideCriacaoGuardaRoupa {
    -webkit-appearance: none;
    width: 200px;
    float: left;
    height: 1px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slideCriacaoGuardaRoupa:hover {
   opacity: 1;
 }
  
.slideCriacaoGuardaRoupa::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 10px;
   height: 10px;
   background: #E9354F;
   border-radius: 10px;
   cursor: pointer;
 }
  
.slideCriacaoGuardaRoupa::-moz-range-thumb {
   width: 25px;
   height: 25px;
   background: #ffffff;
   cursor: pointer;
}


.menuContainerGuardaRoupa{
    width: 375px;
    height:550px;
    background: rgba(22, 22, 22, 0.6);
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    --aug-border-bg:linear-gradient(24.73deg, #FF0000 47.24%, rgba(208, 99, 99, 0) 100%);
    --aug-border-all: 2px;
}

.menuContainerGuardaRoupa h2{
    width:100%;
    height: 20px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

#esquerdoGuardaRoupa{
    left: 10px;
}

#direitoGuardaRoupa{
    right: 10px;
    z-index: 3;
}

.menuInternGuardaRoupa{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.botaoMenuGuardaRoupa{
    width: 25px;
    height: 25px;
    float: left;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 7px;
    font-size: 25px;
    transition: .3s ease;
    cursor: pointer;
}

.botaoMenuGuardaRoupa:nth-child(2){
    margin-left: 0 !important;
}

.menuInternGuardaRoupaAfter{
    display: block;
    position: absolute;
    top: 65px;
    width: 95%;
    height: 1px;
    z-index: 99999999999;
    background-image: linear-gradient(to left, #ff000000, #ff0000, #ff000000 );
}

.botaoMenuGuardaRoupa:hover{
    filter: brightness(0.8);
}

.listagemGuardaRoupa{
    width:100%;
    height: 480px;
    text-align: center;
    color: #fff;
    margin-top: 5px;
    overflow: auto;
}
.listagemGuardaRoupa h4{
    margin-bottom: 15px;
    margin-top: 25px;
    display: block;
}

.itemGuardaRoupa{
    width: 100%; 
    height: 100%;    
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(25deg, #8d8d8d 0%, rgba(255, 255, 255, 0) 100%);
    transition: .3s ease;
}

.fundoItemGuardaRoupa{
    width: 165px; 
    height: 165px;
    float: left;
    margin: 10px;
    margin-top: 20px;
    color: #fff;
}
.valorGuardaRoupa{
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    position: relative;
    top: calc(-10px - 100%);
    left: 1px;
    font-size: 12px;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgb(35, 35, 35) 90.41%);
    border: 1px solid red;
    border-radius: 5px;
    z-index: 99999999;
}

.idGuardaRoupa{
    width: 35px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgb(35, 35, 35) 90.41%);
    z-index: 99999999;
    font-size: 12px;
    position: relative;
    top: -10px;
    left: calc(55% - 30px);
    border: 1px solid red;
    border-radius: 5px;
}
.corContainerGuardaRoupa{
    width: 95px;
    height: 550px;
    background: rgba(22, 22, 22, 0.6);

    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#corEsquerdoGuardaRoupa{
    left: 390px;
    
    --aug-border-bg: linear-gradient(40.99deg, #FF0000 55.07%, rgba(255, 255, 255, 0) 102.46%);
    
    
    --aug-border-all: 2px;
}


#corDireitoGuardaRoupa{
    right: 390px;
    --aug-border-bg: linear-gradient(40.99deg, #FF0000 55.07%, rgba(255, 255, 255, 0) 102.46%);
    --aug-border-all: 2px;  
}


::-webkit-scrollbar{
    display: none;
}



.corPSGuardaRoupa{
    color: #fff;
    width: 45%;
    float: left;
    height: 90%;
    margin: 2px;
    text-align: center;
    position: relative;
    bottom:5px;
}

.corPSGuardaRoupa b{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    float: left;
}

.listaCorGuardaRoupa{
    width: 100%;
    height: 100%;
    float: left;
    overflow: auto;
}

.coresGuardaRoupa{
    width: 13px;
    height: 13px;
    float: left;
    margin: 1px;
    position: relative;
    left: 7px;
    border-radius: 2px;
    background: red;
}


#finalizarGuardaRoupa{
    width: 300px;
    height:60px;
    position:absolute;
    left: 0;
    right: 0;
    bottom: 38px;
    margin: auto;
}
#totalGuardaRoupa{
    width:80%;
    height: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgba(35, 35, 35, 0.71) 90.41%);
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(24.73deg, #FF0000 47.24%, rgba(208, 99, 99, 0) 100%);   
}

#totalGuardaRoupa b{
    filter: brightness(0.8);
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#totalGuardaRoupa span{
    filter: brightness(0.8);
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.botoesFinaisGuardaRoupa{
    width: 130px;
    height: 30px;
    float: left;
    display: flex;
    align-items: center;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgba(35, 35, 35, 0.71) 90.41%);
    justify-content: center;
    margin: 10px;
    margin-top: 5px;
    font-size: 14px;
    color: #fff;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(24.73deg, #8d8d8d 47.24%, rgba(208, 99, 99, 0) 100%);   
}

.botoesFinaisGuardaRoupa:hover{
    --aug-border-bg: linear-gradient(24.73deg, #01b401 47.24%, rgba(208, 99, 99, 0) 100%); 
}


@media (max-width:1281px){
    body{
        zoom: 0.9;
    }
    .menuInternGuardaRoupa::after{
        height: 2px;
    }

}

.inputDivGuardaRoupa{
    width: 200px;
    height: 30px;
    float: left;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(24.73deg, #FF0000 47.24%, rgba(208, 99, 99, 0) 100%);   
    display: flex;
    align-items: center;
    justify-content: center;

}
.inputPesquisaGuardaRoupa{ 
    width: 98%;
    height: 97%;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgba(35, 35, 35, 0.71) 90.41%);
    color: #fff;
    border: 0;
    text-align: center;
}

#pesquisaDireitaGuardaRoupa{
    float: right;
    position: absolute;
    top: 590px;
    bottom: 0;
    margin: auto;
    right: 100px;
}

#pesquisaEsquerdaGuardaRoupa{
    float: left;
    position: absolute;
    top: 590px;
    bottom: 0;
    margin: auto;
    left: 100px;
}

input:focus{
    outline: none;
}



.corItemGuardaRoupa{
    zoom: 0.5;
    position: relative;
    left: 3px
}

.itemGuardaRoupa:hover{
    filter: brightness(0.8);
}

.id_corGuardaRoupa{
    zoom: 1.52 !important;
    left: 40px;
}

#listagemCorGuardaRoupa{
    width: 100%;
    height: 97%;
    overflow: auto;
}

#opacidadeGuardaRoupa{
    position: relative;
    top: 20px;
    text-align: center;
    width: 100%;
    color: #fff;
}

#opacidadeGuardaRoupa b{
    font-size: 12px;
    position: relative;
    bottom: 5px;
}

.opacidadeSlideGuardaRoupa{
    width: 70% !important;
}
.ladoDireitoSlideGuardaRoupa{
    position: relative;
    left: 18px;
}

.ladoEsquerdoSlideGuardaRoupa{
    position: relative;
    left: 10px;
}

.comTresGuardaRoupa{
    zoom: 0.7;
    margin-right: 0px;
    position: relative;
    left: 0px;
}


.selecionadoGuardaRoupa{
    color: #35E97D;
}


/* .tooltip{
    width: 100px;
    height: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999999;

    visibility: hidden;

}

.botaoMenu:hover .tooltip{
    visibility: visible;
} */

.inputSalvarGuardaRoupa{
    width: 200px;
    height: 30px;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgb(35, 35, 35) 90.41%);
    border: 1px solid red;
    border-radius:5px;
    float: left;
    font-size: 12px;
    text-align: center;
    margin: 10px;
    margin-left: 25px;
    color: #fff;
}
.salvarGuardaRoupa{
    width: 100px;
    height: 30px;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgb(35, 35, 35) 90.41%);
    border: 1px solid red;
    border-radius:5px;
    font-size: 12px;
    float: left;
    color: #fff;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.salvarGuardaRoupa:hover{
    filter: brightness(0.8);
}

#salvarOutfitGuardaRoupa{
    margin-top: 10px;
    margin-bottom: 10px !important;
    float: left;
    text-align: center;
    color: #fff;
}
#salvarOutfitGuardaRoupa h4{
    margin-top: 0px;
    margin-bottom: 0px !important;

}

.outfitsGuardaRoupa{
    
    width: 86%;
    height: 80px;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgb(35, 35, 35) 90.41%);
    border: 1px solid red;
    font-size: 12px;
    float: left;
    color: #fff;
    margin: 10px;
    margin-left: 25px;
}


.nomeOutfitGuardaRoupa{
    width: 95%;
    height: 20px;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgb(35, 35, 35) 90.41%);
    border: 1px solid red;
    font-size: 12px;
    float: left;
    color: #fff;
    position: relative;
    bottom: 11px;
    left: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.botaoOutGuardaRoupaUsar{
    width: 100px;
    height: 25px;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgb(35, 35, 35) 90.41%);
    border: 1px solid rgb(0, 160, 27);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 11px;
    border-radius: 2px;

}

.botaoOutGuardaRoupaExcluir{
    width: 100px;
    height: 25px;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgb(35, 35, 35) 90.41%);
    border: 1px solid red;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 11px;
    border-radius: 2px;

}



.botoesDivGuardaRoupa{
    width: 100%;
    height: 60px;

    font-size: 12px;
    float: left;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoOutGuardaRoupa:hover{
    filter: brightness(1.1);
}