@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

* {
    outline: none;
    list-style: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

mainElevador {
    position: absolute;
    top: 50%;
    left: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    transform: translate(0,-50%);
}

mainElevador .title {
    position: absolute;
    top: -40px;
    left: 40px;
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
}

mainElevador .title small {
    opacity: .5;
    font-weight: 300;
    letter-spacing: 1px;
}

mainElevador menu {
    height: 100%;
    display: flex;
}

mainElevador menu section {
    position: relative;
    height: 250px;
    overflow: auto;
    padding-left: 20px;
    border-left: 2px dashed rgba(255, 255, 255, 0.397);
}

mainElevador menu section .item {
    position: relative;
    opacity: .5;
    width: 300px;
    height: 80px;
    display: flex;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all .3s;
    align-items: center;
    letter-spacing: 1px;
    justify-content: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.611);
}

mainElevador menu section .item span {
    z-index: 101;
    font-size: 25px;
}

mainElevador menu section .item b {
    opacity: .5;
    font-weight: 100;
    margin-right: 4px;
}

mainElevador menu section .active {
    opacity: 1;
    background-color: #0075DE;
}

mainElevador menu section .active::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 5px;
    background: linear-gradient(86.63deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 117, 222, 0) 129.98%);
}

mainElevador menu section .item:hover {
    opacity: 1;
    background-color: #0075DE;
}

mainElevador menu section .item:last-child {
    margin: 0;
}

::-webkit-scrollbar { width: 0;}