@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: 100% 100%;
}

* {
    outline: none;
    list-style: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

b {
    color: #fff;
}

#mainBennys {
    position: absolute;
    top: 50%;
    left: 70px;
    color: #fff;
    display: flex;
    flex-direction: column;
    transform: translate(0,-50%);
}

#mainBennys .flexBennys {
    display: flex;
}

.flex-centerBennys {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainBennys header {
    position: relative;
    top: 5px;
    left: 55px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
    flex-direction: column;
    text-transform: uppercase;
}

#mainBennys header small {
    opacity: .5;
}

#mainBennys aside {
    width: 60px;
    height: 420px;
    overflow: auto;
    direction: rtl;
    display: flex;
    padding-right: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-right: 2px dashed rgba(255, 255, 255, 0.25);
}
aside::-webkit-scrollbar { width: 0;}

#mainBennys aside .category {
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 15px;
    margin-bottom: 5px;
    transition: all .5s;
    border-radius: .2rem;
    background: rgba(0, 0, 0, 0.562);
}

#mainBennys aside .category:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background: linear-gradient(to right, #4277EA,#3F61B2);
}

#mainBennys aside .category:last-child {
    margin-bottom: 0;
}

#mainBennys aside .category img {
    max-width: 60%;
}

#mainBennys section {
    position: relative;
    width: 400px;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

#mainBennys section .title {
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
}

#mainBennys section .title .cart {
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 20px;
    border-radius: .3rem;
    background: linear-gradient(to right, #3F5FAA,#3F5FAA);
}

#mainBennys section .title .cart-info {
    height: 100%;
    display: flex;
    font-size: 10px;
    line-height: 12px;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}

#mainBennys section .title small {
    opacity: .6;
}

#mainBennys section .title .search {
    right: 13px;
    bottom: 11px;
    font-size: 11px;
    position: absolute;
    text-transform: uppercase;
}

#mainBennys section .title .search input {
    border: 0;
    width: 60px;
    color: #fff;
    outline: none;
    background: 0;
}

#mainBennys section .title .search input::placeholder {
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
}

#mainBennys section .shop-content {
    width: 100%;
    height: 370px;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 10px;
}

#mainBennys section .shop-footer {
    position: absolute;
    right: 28px;
    padding: 5px;
    bottom: -80px;
    display: flex;
    align-items: center;
}

#mainBennys section .shop-footer .action-buy {
    display: flex;
    transition: all .2s;
    align-items: center;
}

#mainBennys section .shop-footer .info-footer {
    position: relative;
    z-index: -1;
    right: -19px;
    height: 40px;
    font-size: 12px;
    margin-left: 20px;
    padding: 0px 15px;
    transition: all .2s;
    padding-right: 30px;
    background: #4060AA;
    text-transform: uppercase;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#mainBennys section .shop-footer button {
    position: relative;
    border: 0;
    width: 39px;
    height: 39px;
    outline: none;
    color: #ffff;
    font-size: 20px;
    border-radius: 0px;
    border-radius: 100%;
    letter-spacing: 1px;
    transition: all .2s;
    background: #4060AA;
    text-transform: uppercase;
    box-shadow: 0 0 0.1rem transparent, inset 0 0 0.1rem transparent, 0 0 .7rem #4060AA, inset 0 0 .7rem #4060AA
}

#mainBennys section .shop-footer .action-buy:hover {transform: scale(1.1);}
#mainBennys section .shop-footer .action-buy:active {transform: scale(.9);}

#mainBennys section .shop-footer .input-footer {
    position: relative;
    left: -50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 8px;
    color: #fff;
    white-space: nowrap;
}

.styleAugBennys {
    --aug-r1: 20px;
    --aug-l2: 25px;
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.400);
}

::-webkit-scrollbar-track {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.400);
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #0075DE; 
    box-shadow: 0 0 0.1rem transparent, inset 0 0 0.1rem transparent, 0 0 .7rem #0075DE, inset 0 0 .7rem #0075DE

}

.rangeBennys {
    margin: auto;
    outline: none;
    padding: 0;
    width: 130%;
    height: 6px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.562);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4060AA), color-stop(100%, #4060AA));
    background-image: -webkit-linear-gradient(#4060AA, #4060AA);
    background-image: -moz-linear-gradient(#4060AA, #4060AA);
    background-image: -o-linear-gradient(#4060AA, #4060AA);
    background-image: linear-gradient(#4060AA, #4060AA);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
}

.rangeBennys::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

.rangeBennys::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

.rangeBennys::-moz-focus-outer {
    border: 0;
}

.rangeBennys::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    -webkit-appearance: none;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}

.rangeBennys::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}

.animarColorBennys {animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.animarColorCloseBennys {animation: scale-out-vertical 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;}

@keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
}
  
@keyframes scale-out-vertical {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
}

/*
-----------------------------
    GRIDS
-----------------------------
*/

.grid {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.grid-title {
    display: flex;
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: 2px;
    flex-direction: column;
    text-transform: uppercase;
}

.grid-title small {
    opacity: 0.5;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
}

section .column-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 120px);
}

section .grid-buttons {
    margin-top: 10px;
}

section .column-grid button {
    border: 0;
    width: 120px;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all .3s;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.400);
}

section .column-grid button:hover,section .column-grid .forceactive  {
    background: #3F5FAA;
}

section .column-grid .item-menu {
    position: relative;
    width: 120px;
    opacity: .5;
    height: 150px;
    display: flex;
    color: #fff;
    padding: 20px 0;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    align-items: center;
    transition: all .3s;
    flex-direction: column;
    text-transform: uppercase;
    background-size: cover;
    filter: grayscale(100%);
    background-image: url("http://s2.glbimg.com/E9o67Ulbn1KXTuPtX6MrWxH6SOo=/695x0/s.glbimg.com/po/tt2/f/original/2017/03/08/grand-theft-auto-5-gta-online-rocket-voltic.jpg");
    background-position-x: 50%;
}

section .column-grid .item-menu div {
    width: 100%;
    display: flex;
    z-index: 101;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

section .column-grid .item-menu::before {
    content: '';
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.83), transparent);
}

section .column-grid .item-menu div span {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    opacity: .8;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 10px;
}

section .column-grid .item-menu b {
    color: #fff;
    margin-top: 3px;
    font-weight: 700;
}

section .column-grid .item-menu:last-child {
    margin: 0;
}

section .column-grid .active, section .column-grid .forceactive {
    opacity: 1;
    filter: grayscale(0%);
}

.column-grid .item-menu:hover {
    opacity: 1;
    filter: grayscale(0%);
}

.grid-content {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,88px);
}

.itens-grid .item {
    position: relative;
    width: 85px;
    height: 85px;
    display: flex;
    font-size: 10px;
    font-weight: 500;
    padding: 10px 0;
    border-radius: 5px;
    align-items: center;
    transition: all .3s;
    letter-spacing: 1px;
    flex-direction: column;
    background-size: cover;
    filter: grayscale(100%);
    text-transform: uppercase;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.311);
    background-image: url("http://s2.glbimg.com/E9o67Ulbn1KXTuPtX6MrWxH6SOo=/695x0/s.glbimg.com/po/tt2/f/original/2017/03/08/grand-theft-auto-5-gta-online-rocket-voltic.jpg");
}

.itens-grid .item::before {
    content: '';
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.83), transparent);
}

.itens-grid .active::before {
    background: linear-gradient(to top, #132651, transparent);
}

.itens-grid .item span {
    width: 90%;
    font-weight: bold;
    font-size: 8px;
}

.itens-grid .active {
    filter: grayscale(0%);
}

.color-grid {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.color-grid input {
    border: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background: none;
}

.color-grid img {
    display: none;
}

.color-grid input {
    width: 98%;
} 

.item-color {
    width: 85px;
    height: 85px;
    display: flex;
    transition: all .3s;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.311);
}

.item-color .color-palete {
    width: 50px;
    height: 50px;
    transition: all .3s;
    border-radius: 5px;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid #0075DE;
}

.item-color:hover {
    background-color: #0075DE;
}

.item-color:hover .color-palete {
    border-color: #000;
}