@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

* {
    outline: none;
    list-style: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

progressBar {
    position: absolute;
    left: 50%;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, 0);
}

progressBar .title {
    width: 100%;
    color: #fff;
    display: flex;
    font-size: 10px;
    padding: 0 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    justify-content: space-between;
    filter: drop-shadow(0px 0px 2px #000000b4);
}

.time2ProgressBar{
    font-size: 13px;
    margin-bottom: 10px; 
    padding-bottom: 20px;
}

progressBar .bar {
    width: 300px;
    height: 20px;
    padding: 3px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .300);
}

progressBar .bar .fill {
    width: 0%;
    height: 100%;
    padding: 5px;
    display: flex;
    color: #ccc;
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 2px;
    align-items: center;
    white-space: nowrap;
    text-transform: uppercase;
    background-color: #0075DE;
}