@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

* {
    outline: none;
    list-style: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

b {
    color: #fff;
}

notifyJob {
    position: absolute;
    top: 50%;
    left: 20px;
    display: flex;
    flex-direction: column;
    transform: translate(0%,-50%);
    color: #fff;
}

notifyJob .notifyJob {
    position: relative;
    width: 300px;
    padding: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 2px dashed #4060aa88;
}

notifyJob .notifyJob::before {
    content: '';
    position: absolute;
    top: -20px;
    right: -30px;
    width: 100px;
    height: 50px;
    z-index: 101;
    transform: rotate(-500deg);
    background-color: rgba(199, 199, 199, 0.100);
}

/*
===============================
    NOTIFY GLOBAIS
===============================
*/

.notifyJob:last-child {margin: 0;}
.contentJob {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgba(199, 199, 199, 0.300);
}
.contentJob .titleJob {
    width: 100%;
    display: flex;
    padding: 5px 0;
    font-size: 12px;
    padding-left: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #132651;
}
.contentJob .titleJob .infoJob {
    width: 20px;
    height: 20px;
    color: #fff;
    display: flex;
    font-size: 8px;
    margin-left: 10px;
    font-weight: normal;
    border-radius: 100%;
    background-color: slateblue;
}
.contentJob .textJob {
    font-size: 12px;
    margin-top: 5px;
    letter-spacing: 0.5px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
