#notifyFuel{
    width: 300px;
    height: 400px;
    background-image: linear-gradient(90deg, );
    margin-right: 5px;
    margin-top: 5px;
    background: linear-gradient(94.41deg, #1A1A1A 13.81%, rgba(35, 35, 35, 0.71) 90.41%);
    float: left;
    color: #fff;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(54.76deg, #E9354F 5.23%, #E9354F 5.24%, rgba(233, 53, 79, 0) 127.36%);
    font-size: 20px;
    padding: 10px;

    
    position: absolute;
    left: 20px;
    bottom: 0;
    top: 0;
    margin: auto;

}
.logoFuel{
    width: 90px;
    height: 80px;
    background-size: 100%;
    margin: auto;
}



.titleAfterFuel{
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    height: 1px;
    background-image: linear-gradient(to right, #E9354F00, #E9354F, #E9354F00);
}

.textoFuel{
    width:100%;
    min-height: 50px;
    color: #fff;
    font-size: 17px;
    margin-top: 5px;
    font-weight: 400;
    text-align: center;
}
.valorFuel{
    width: 100%;
    height: 60px;
    padding: 10px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.inputValorFuel{
    width: 200px;
    height: 40px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    --aug-border-all: 1px;
    --aug-border-bg: linear-gradient(54.76deg, #E9354F 5.23%, #E9354F 5.24%, rgba(233, 53, 79, 0) 127.36%);
    background: #00000080;
}
.textoFuel b{
    color: #E9354F;
}
.totalFuel{
    width: 50%;
    height: 60px;
    float: left;
    margin-top: 10px;
}

.inputTotalFuel{
    width: 120px;
    height: 40px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #35E97D;
    font-size: 14px;
    font-weight: 700;
    --aug-border-all: 1px;
    --aug-border-bg: linear-gradient(54.76deg, #E9354F 54.23%, #E9354F 54.24%, rgba(233, 53, 79, 0) 127.36%);
    background: #00000080;
}

.litrosFuel{
    width: 50%;
    height: 85px;
    float: left;
    margin-top: 10px;
}

.inputLitrosFuel{
    width: 120px;
    height: 40px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #35E97D;
    font-weight: 700;
    --aug-border-all: 1px;
    --aug-border-bg: linear-gradient(54.76deg, #E9354F 5.23%, #E9354F 5.24%, rgba(233, 53, 79, 0) 127.36%);
    background: #00000080;
    font-size: 14px;
}

.progressFuel{
    width: 200px;
    height: 40px;
    margin: auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    --aug-border-all: 1px;
    --aug-border-bg: linear-gradient(92.4deg, #FF9900 30%, rgba(255, 153, 0, 0) 34%);
    background: #00000080;
    margin-top: 15px;
    font-weight: 800;
}
#botoesFuel{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botaoFinalFuel{
    width: 100px;
    height: 35px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000080;
    float: left;
    margin: 10px;
    font-weight: 700;
}

#iniciarFuel{
    --aug-border-all: 1px;
    --aug-border-bg: linear-gradient(23.24deg, #35E97D 6.53%, rgba(0, 255, 56, 0) 92.21%);
}


#pararFuel{
    --aug-border-all: 1px;
    --aug-border-bg: linear-gradient(23.24deg, #E93535 6.53%, rgba(255, 0, 0, 0) 92.21%);
}


.botaoFinalFuel:hover{
    transform: scale(1.05);
}