html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.allnuiConce {
  position: absolute;
  left: 50px;
  top: 50%;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  transform: translate(0, -50%);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

mainConce {
  position: relative;
  height: 250px;
  display: flex;
  margin: 0 80px;
  flex-direction: column;
}

mainConce .title {
  position: absolute;
  top: -55px;
  left: -20px;
  width: 100%;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
}

mainConce .title small {
  opacity: .5;
  font-weight: 300;
  letter-spacing: 1px;
}

mainConce .title .search {
  position: absolute;
  top: 0px;
  right: 5px;
  display: flex;
  font-size: 10px;
  font-weight: 400;
  margin-top: 10px;
  align-items: center;
}

mainConce .title .search .icon {
  background-color: #0075DE;
  padding: 8px 10px;
  margin-right: 2px;
  border-radius: 5px;
}

mainConce .title .search input {
  border: 0;
  padding: 0;
  width: 140px;
  outline: none;
  color: #fff;
  height: 28px;
  margin-left: 5px;
  border-radius: 4px;
  padding-left: 10px;
  border: 2px solid #0076de6b;
  background-color: transparent;
}

mainConce .title .search input::placeholder {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

mainConce menu {
  height: 100%;
  display: flex;
}

mainConce menu aside {
  width: 50px;
  height: 100%;
  display: flex;
  padding-right: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-right: 2px dashed rgba(255, 255, 255, 0.397);
}

mainConce menu aside .item {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: all .3s;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.311);
}

.active {
  background-color: #0075DE !important;
}

mainConce menu aside .item:hover {
  color: #000;
  background-color: #0075DE;
}

mainConce menu aside .item img {
  max-width: 50%;
}

mainConce menu section {
  position: relative;
  height: 250px;
  width: 450px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

mainConce menu section .item {
  position: relative;
  opacity: .5;
  width: 200px;
  height: 80px;
  display: flex;
  margin-right: 5px;
  border-radius: 5px;
  padding-left: 30px;
  margin-bottom: 5px;
  transition: all .3s;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.311);
}

mainConce menu section .active {
  opacity: 1;
  background-color: #0075DE;
}

mainConce menu section .active::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(86.63deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 117, 222, 0) 129.98%);
}

mainConce menu section .item:hover {
  opacity: 1;
  background-color: #0075DE;
}

mainConce menu section .item img {
  position: relative;
  top: 5px;
  left: -5px;
  z-index: 101;
  max-width: 35%;
  transform: scaleX(-1);
}

mainConce menu section .item .item-info {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffff;
  font-size: 12px;
  font-weight: 600;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
}


mainConce menu section .item .item-info small {
  opacity: .5;
  font-weight: 300;
  letter-spacing: 1.5px;
}

mainConce menu section .item:last-child {
  margin: 0;
}

/*------------------------------------------*/

mainConceMeio {
  position: absolute;
  right: 25%;
  bottom: 50px;
  width: 550px;
  height: 190px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.25);
}

mainConceMeio header {
  color: #fff;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
}

mainConceMeio header .price {
  position: relative;
  top: -5px;
  font-weight: 500;
  display: flex;
  font-size: 15px;
  align-items: center;
}

mainConceMeio header .price .prefix {
  width: 22px;
  height: 22px;
  display: flex;
  margin-right: 7px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: #30b106;
}

mainConceMeio header .btns {
  display: flex;
  align-items: center;
}

mainConceMeio header button {
  position: relative;
  outline: none;
  border: 0;
  width: 35px;
  color: #fff;
  height: 35px;
  margin: 0 5px;
  display: flex;
  font-size: 12px;
  align-items: center;
  border-radius: 100%;
  transition: all .3s;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
}

mainConceMeio header button .toltip {
  position: absolute;
  left: 50%;
  top: -30px;
  opacity: 0;
  padding: 5px 7px;
  font-size: 8px;
  font-weight: 600;
  letter-spacing: 1px;
  white-space: nowrap;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: #0075DE;
  transform: translate(-50%, 0);
}

mainConceMeio header button:hover .toltip {
  opacity: 1;
}

mainConceMeio header button .toltip::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: -9px;
  transform: translate(-50%, 0);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;

  border-top: 9px solid #0075DE;
}

mainConceMeio header button:hover {
  border: 1px solid rgb(189, 189, 189);
  background-color: #0075DE;
}

mainConceMeio header h1 {
  font-size: 22px;
  margin: 0;
  margin-top: 5px;
  letter-spacing: 1px;
}

mainConceMeio header small {
  position: relative;
  top: -5px;
  opacity: .5;
}

mainConceMeio section {
  display: flex;
  padding: 0 25px;
  flex-direction: column;
}

mainConceMeio section .column {
  display: grid;
  color: #fff;
  grid-gap: 10px;
  grid-template-rows: repeat(2, 60px);
  grid-template-columns: repeat(2, 250px);
}

mainConceMeio section .column .row {
  position: relative;
  height: 100px;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  flex-direction: column;
  text-transform: uppercase;
}

mainConceMeio section .column .row .bar {
  width: 100%;
  height: 25px;
  display: flex;
  margin-top: 5px;
  margin-left: -5px;
  align-items: center;
}

mainConceMeio section .column .row small {
  position: absolute;
  right: 10px;
}

mainConceMeio section .column .row .bar .shape {
  width: 25px;
  height: 100%;
  margin-right: -5px;
  background: rgba(0, 0, 0, 0.34);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

mainConceMeio section .column .row .bar .active {
  background: #69F339;
}


::-webkit-scrollbar {
  width: 0;
}

@media only screen and (max-width: 1366px) {
  mainConce {
    zoom: .8;
  }

  mainConceMeio {
    zoom: .7;
  }
}

@media only screen and (max-width: 1024px) {
  mainConce {
    zoom: .7;
  }

  mainConceMeio {
    zoom: .6;
  }
}