@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

* {
    outline: none;
    list-style: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/*
===============================
    NOTIFY
===============================
*/

notify {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

notify .containerNotify {
    position: relative;
    width: 300px;
    padding: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 2px dashed #4060aae0;
}

notify .containerNotify::before {
    content: '';
    position: absolute;
    top: -20px;
    right: -30px;
    width: 100px;
    height: 50px;
    z-index: 101;
    transform: rotate(-500deg);
    background-color: rgba(199, 199, 199, 0.100);
}

notify .containerNotify .contentNotify {
    justify-content:initial;
    flex-direction: row !important;
}

notify .containerNotify .contentNotify .notify-icon {
    width: 50px;
    height: 50px;
    background-color: rgba(59, 255, 101, 0.26);
}

notify .containerNotify .contentNotify .text {
    width: 80%;
    margin-top: 0;
    margin-left: 10px;
}

notify .containerNotify .contentNotify span {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
}


notify .containerNotify .textNotify {
    width: 240px;
    color: rgb(255, 255, 255);
}

/*
===============================
    NOTIFY GLOBAIS
===============================
*/

.notify:last-child
{margin: 0;}
.contentNotify {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(88, 88, 88, 0.856);
}
.contentNotify .title {
    width: 100%;
    display: flex;
    padding: 5px 0;
    font-size: 12px;
    padding-left: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    align-items: center;
    text-transform: uppercase;
    background-color: #132651;
}
.contentNotify .title .info {
    width: 20px;
    height: 20px;
    color: #fff;
    display: flex;
    font-size: 8px;
    margin-left: 10px;
    font-weight: normal;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: slateblue;
}
.contentNotify .textNotify {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    letter-spacing: 1px;
    text-shadow: 2px 4px 3px rgb(0, 0, 0);
}
.centerNotify {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centerNotify img {
    max-width: 60%;
    filter: drop-shadow(0px 0px 2px #000000b4);
}
