body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: 100% 100%;
  /*background-color: #132651;*/
}

html,
mainCloakRoom {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /*background-color: #404040;*/
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

mainCloakRoom header {
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

mainCloakRoom header small {
  color: #0075DE;
  font-weight: bold;
  letter-spacing: 1px;
}

.owl-carousel {
  width: 60%;
}

.owl-carousel .itemCloak {
  position: relative;
  width: 350px;
  height: 400px;
  display: flex;
  border-radius: 5px;
  transition: all .3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.482);
}

.owl-carousel .itemCloak small {
  color: #fff;
  opacity: .5;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

.owl-carousel .itemCloak h3 {
  color: #fff;
  margin-bottom: 7px;
}

.owl-carousel .itemCloak .info {
  position: relative;
  top: -5px;
  display: flex;
  z-index: 101;
  align-items: center;
  flex-direction: column;
}

.owl-carousel .itemCloak button {
  border: 0;
  outline: none;
  width: 100px;
  color: #fff;
  height: 25px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 30px;
  letter-spacing: 1px;
  transition: all .3s;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.3);
}

.owl-carousel .itemCloak:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 117, 222, 0.13) 100%);
  border-radius: 5px;
}

.owl-carousel .itemCloak button:hover {
  background-color: #0075DE;
}

.owl-carousel .itemCloak img {
  max-width: 40%;
}

.arrowItem {
  color: #fff;
  position: absolute;
  top: 42%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  transition: all .3s;
  justify-content: center;
  transform: translate(-50%, 0);
  background: rgba(0, 0, 0, 0.300);
}

.left {
  left: -40px;
}

.right {
  right: -60px !important;
}

.arrowItem:hover {
  background: #0075DE;
}