@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: 100% 100%;
    /* background-color: #132651; */
}

* {
    outline: none;
    list-style: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

b {
    color: #fff;
}

#mainBarberShop {
    position: absolute;
    top: 50%;
    left: 70px;
    color: #fff;
    display: flex;
    flex-direction: column;
    transform: translate(0, -50%);
}

#mainBarberShop .flexBarberShop {
    display: flex;
}

.flex-centerBarberShop {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainBarberShop header {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#mainBarberShop aside {
    width: 60px;
    height: 420px;
    overflow: auto;
    direction: rtl;
    padding-right: 10px;
    border-right: 2px dashed rgba(255, 255, 255, 0.25);
}

aside::-webkit-scrollbar {
    width: 0;
}

#mainBarberShop aside .categoryBarberShop {
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 15px;
    margin-bottom: 5px;
    transition: all .5s;
    border-radius: .2rem;
    background: rgba(0, 0, 0, 0.562);
}

#mainBarberShop aside .categoryBarberShop:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background: linear-gradient(to right, #4277EA, #3F61B2);

}

#mainBarberShop aside .categoryBarberShop:last-child {
    margin-bottom: 0;
}

#mainBarberShop aside .categoryBarberShop img {
    max-width: 60%;
}

#mainBarberShop section {
    position: relative;
    width: 400px;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

#mainBarberShop section .title {
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
}

#mainBarberShop section .title .cart {
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 20px;
    border-radius: .3rem;
    background: linear-gradient(to right, #3F5FAA, #3F5FAA);
}

#mainBarberShop section .title .cart-info {
    height: 100%;
    display: flex;
    font-size: 10px;
    line-height: 12px;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}

#mainBarberShop section .title small {
    opacity: .6;
}

#mainBarberShop section .title .search {
    right: 13px;
    bottom: 11px;
    font-size: 11px;
    position: absolute;
    text-transform: uppercase;
}

#mainBarberShop section .title .search input {
    border: 0;
    width: 60px;
    color: #fff;
    outline: none;
    background: 0;
}

#mainBarberShop section .title .search input::placeholder {
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
}

#mainBarberShop section .shop-content {
    width: 97%;
    height: 370px;
    overflow: auto;
    margin-top: 10px;
}

#mainBarberShop section .shop-content .item {
    position: relative;
    width: 120px;
    height: 120px;
    transition: all .3s;
    border-radius: .1rem;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.562);
    /*filter: grayscale(100%);*/
}

#mainBarberShop section .shop-content .item active {
    position: absolute;
    color: rgb(5, 255, 5);
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-top: 3px;
}

#mainBarberShop section .shop-content .item:hover {
    /* background: linear-gradient(to right, #3F5FAA,#3F5FAA);*/
    /*filter: grayscale(0%);*/
}

.activeBarberShop {
    background: linear-gradient(to right, #3F5FAA, #3F5FAA) !important;
}

.activeMBarberShop {
    background: linear-gradient(to right, #3F5FAA, #3F5FAA) !important;
}



#mainBarberShop section .shop-content .item img {
    position: absolute;
    top: 40%;
    left: 49%;
    max-width: 80%;
    transform: translate(-50%, -50%);
}

#mainBarberShop section .shop-content .item small {
    display: flex;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    background-color: #3F5FAA90;
    left: 87%;
    bottom: 95px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, 0);
    color: rgba(255, 255, 255, 0.521);
}

#mainBarberShop section .shop-content .item span {
    position: absolute;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    background-color: #3F5FAA80;
    text-align: center;
    left: 50%;
    bottom: 3px;
    font-size: 8px;
    padding: 4px 5px;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
    border-radius: .2rem;
    transform: translate(-50%, 0);
}

#mainBarberShop section .shop-color {
    position: absolute;
    display: flex;
    top: 50%;
    width: 150px;
    right: -220px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(0, -50%);
}

#mainBarberShop section .shop-color .colunaBarberShop {
    display: flex;
    height: 100%;
    font-size: 13px;
    margin-bottom: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    border: 1.5px dashed #0075DE;
    background-color: #6d6c6c6e;
}

#mainBarberShop section .color-iconBarberShop {
    position: absolute;
    top: 50%;
    right: -40px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: all .2s;
    background: #4060AA;
    transform: translate(0, -50%);
}

#mainBarberShop section .color-iconBarberShop:hover {
    box-shadow: 0 0 0.1rem transparent, inset 0 0 0.1rem transparent, 0 0 .7rem #4060AA, inset 0 0 .7rem #4060AA
}

#mainBarberShop section .color-iconBarberShop:active {
    transform: scale(1.1);
}

#mainBarberShop section .shop-color .colunaBarberShop .coluna-contentBarberShop {
    width: 140px;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    max-height: 100%;
}

.coluna-contentBarberShop::-webkit-scrollbar {
    width: 0;
}

#mainBarberShop section .shop-color .colunaBarberShop .color {
    width: 12px;
    height: 12px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: .2rem;
    background-color: rgb(0, 107, 107);
}

#mainBarberShop section .shop-color .colunaBarberShop .color-selected {
    border: 2px solid #fff;
}

#mainBarberShop section .shop-color .coluna-opacityBarberShop {
    display: flex;
    line-height: 40px;
    letter-spacing: 1px;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

#mainBarberShop section .shop-color .coluna-opacityBarberShop input {
    width: 150px;
}

#mainBarberShop section .shop-footer {
    position: absolute;
    right: 28px;
    padding: 5px;
    bottom: -80px;
    display: flex;
    align-items: center;
}

#mainBarberShop section .shop-footer .action-buy {
    display: flex;
    transition: all .2s;
    align-items: center;
}

#mainBarberShop section .shop-footer .info-footer {
    position: relative;
    z-index: -1;
    right: -19px;
    height: 40px;
    font-size: 12px;
    margin-left: 20px;
    padding: 0px 15px;
    transition: all .2s;
    padding-right: 30px;
    background: #4060AA;
    text-transform: uppercase;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#mainBarberShop section .shop-footer button {
    position: relative;
    border: 0;
    width: 39px;
    height: 39px;
    outline: none;
    color: #ffff;
    font-size: 20px;
    border-radius: 0px;
    border-radius: 100%;
    letter-spacing: 1px;
    transition: all .2s;
    background: #4060AA;
    text-transform: uppercase;
    box-shadow: 0 0 0.1rem transparent, inset 0 0 0.1rem transparent, 0 0 .7rem #4060AA, inset 0 0 .7rem #4060AA
}

#mainBarberShop section .shop-footer .action-buy:hover {
    transform: scale(1.1);
}

#mainBarberShop section .shop-footer .action-buy:active {
    transform: scale(.9);
}

#mainBarberShop section .shop-footer .input-footer {
    position: relative;
    left: -50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 8px;
    color: #fff;
    white-space: nowrap;
}

camBarberShop {
    position: absolute;
    top: 20px;
    right: 200px;
}

camBarberShop .item {
    position: relative;
    opacity: 0;
    width: 50px;
    height: 50px;
    display: flex;
    color: #ffff;
    font-size: 20px;
    transition: all .2s;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 10px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.562);
}

camBarberShop .item:first-child {
    opacity: 1;
}

camBarberShop .item:hover {
    background: #4277EA;
    box-shadow: 0 0 0.1rem transparent, inset 0 0 0.1rem transparent, 0 0 .7rem #4277EA, inset 0 0 .7rem #4277EA
}

camBarberShop .item img {
    max-width: 40%;
}

camBarberShop .item::after {
    position: absolute;
    content: '';
    left: 50%;
    width: 2px;
    z-index: -1;
    height: 10px;
    top: -10px;
    transform: translate(-50%, 0);
    background: rgba(0, 0, 0, 0.562);
}

camBarberShop .icon {
    background: #4277EA;
}

camBarberShop .icon::after {
    position: absolute;
    content: '';
    top: -20px;
    left: 50%;
    width: 2px;
    z-index: -1;
    height: 20px;
    transform: translate(-50%, 0);
    background: #4277EA;
}

.styleAug {
    --aug-r1: 20px;
    --aug-l2: 25px;
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.400);
}

::-webkit-scrollbar-track {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.400);
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #0075DE;
    box-shadow: 0 0 0.1rem transparent, inset 0 0 0.1rem transparent, 0 0 .7rem #0075DE, inset 0 0 .7rem #0075DE
}

.rangeBarberShop {
    margin: auto;
    outline: none;
    padding: 0;
    width: 130%;
    height: 6px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.562);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 0%, color-stop(0%, #4060AA), color-stop(0%, #4060AA));
    background-image: -webkit-linear-gradient(#4060AA, #4060AA);
    background-image: -moz-linear-gradient(#4060AA, #4060AA);
    background-image: -o-linear-gradient(#4060AA, #4060AA);
    background-image: linear-gradient(#4060AA, #4060AA);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
}

.rangeBarberShop::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

.rangeBarberShop::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

.rangeBarberShop::-moz-focus-outer {
    border: 0;
}

.rangeBarberShop::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    -webkit-appearance: none;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
}

.rangeBarberShop::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
}

#precoTotalBarberShop {
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 3px 1px 1px rgb(0, 0, 0) !important;
}

.animarColorBarberShop {
    animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.animarColorCloseBarberShop {
    animation: scale-out-vertical 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes scale-out-vertical {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }
}